body{
font-family:sans-serif;
background:#f2f4f7;
padding:20px;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.card{
background:white;
padding:20px;
margin-bottom:20px;
border-radius:12px;
box-shadow:0 4px 15px rgba(0,0,0,0.08);
}

input,select,button{
padding:8px;
margin:5px;
}

button{
background:#1565c0;
color:white;
border:none;
cursor:pointer;
}

table{
width:100%;
border-collapse:collapse;
}

td,th{
border:1px solid #ddd;
padding:8px;
text-align:center;
}

#balance{
font-size:22px;
font-weight:bold;
color:green;
}

#calc button{
width:22%;
margin:3px;
padding:10px;
}
